.two{
     background-color: black;
        height: 150px; 
        width: 150px; 
        display: inline-block;
        /* margin: 20px; */

}

.one{
    background-color: red;
   width: 150px;
    height: 150px;
    display: inline-block;
    /* margin : 20px; */

}

.three{
    background-color: yellow;
    height: 60px;
    width: 60px;
    display: inline-block;
  /*   margin: 20px; */
}

.four{
    background-color: green;
    height:60px;
    width: 60px;
    display:inline-block


}
h2{
    background-color: burlywood;
    display: inline-block;
}