nav{
    background-color: black;
    color :white;
    display:block;
    border-radius: 30px;
    margin-top: 20px;

}

.one{
  margin-left: 59px;
  display: inline-block;
  margin-right:60%;
}


ul{
 
 display: inline-block;
}

 li{
color:whitesmoke;
display: inline;

 }
 li:hover{
    color:grey;
    cursor:move;
 }



 input{
height: 30px;
width: 900px;
border-radius: 20px;
text-align: center;
margin-left:180px;
margin-top: 60px;

 }
.product{
  
  border: 2px solid black  ;
  display: inline-block;
  padding: 15px;
  border-radius: 10px;
  margin: 20px;
  margin-left: 39px;
  margin-top: 40px;
}
img{
    height: 200px;
    width: 200px;
  
    border-radius: 20px;
}
body
{
    background-color: #f0f0f0;
}

h2{
    text-align: center;
    color: wheat;
    background-color: grey;
    border-radius:15px;
    padding: 4px;
}

p{
   text-align: center;
   font-weight: bold;
}

button{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-left: 55px;
}

button:hover{
    background-color: goldenrod;
    color: black;
}
.four{
    text-align: center;
    color: black;
    margin-top: 20px;
    text-decoration: underline;
}
.about{
  background-color: darkgray;
  color: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  
}
